docs
*~
.DS_Store
data
.Rhistory
*.html
figure/
.#*
foo
log
foo.R
*.aux
*.log
*.toc
*.pdf
html
*.tar.gz
#*
GitPrimer
PipelinePresentation
misc
*-bkup
*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
*.vrb
*.bbl
*.blg
analytica
