docs
*~
.DS_Store
.Rhistory
*.html
R/figure/
.#*
foo
log
foo.R
*.aux
*.log
*.toc
*.pdf
*.tar.gz
#*
GitPrimer
PipelinePresentation
*-bkup
*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
*.vrb
*.bbl
*.blg
analytica
credentials
R.css
lib/
*.rds
hhsmap.png
archive
data.bkup
methodsPaperOld
methodsPaper2
Ascii.zip
*.pptx
*.docx
*.sty
*pomodoro*
*.csv
misc/ali/
